/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  display: flex;
}
.userSelectionBox{
  width:100%;
  height:60px;
  background-color: #fff;
  border-radius: 0px;
  padding: 5px 8px 5px 8px;
  border-bottom: solid thin #dedede;
}
.userSelectionBox:hover{
  background: #e9e9e9;
  cursor: pointer;
}

.userAvatar{
  font-size: 50px;
  color: #0066cc;
}

.sidebar{
  width:350px;
  height:100%;
  position: fixed;
  border-right: solid thin #dedede;
}

.messageStage{
  height: 100%;
  left: 350px;
  right: 0px;
  position: absolute;
}

.newConversationButton {
  width: 100%;
  background-color:#3f7fb3;
  color: #fff;
  border: none;
  border-radius: 0px;
  height: 53px;
  line-height:30px;
}
.newConversationButton:hover{
  background-color:#70aee0;
  color: #fff;
}
.messengerRedDot{
  color:red;
  margin-top: 15px;
  float: right;
}

.messageUsernameTitle{
  font-weight: bolder;
  margin-left: 10px;
}
.messageUserStatu{
  font-weight: lighter;
  color: #444;
  margin-left: 5px;
  font-size: 14px;
}
.messageScrollerStage{
  position: absolute;
  width: 100%;
  top: 53px;
  bottom: 79px;
  padding: 20px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.meBubble{
  float: right;
  padding: 10px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  border: solid thin #dedede;
  max-width: 450px;
  margin-bottom: 10px;
  margin-left: auto;
}
.userBubble{
  float: right;
  padding: 10px;
  color: #fff;
  max-width: 450px;
  background-color: #0066cc;
  border-radius: 10px;
  border: solid thin #dedede;
  margin-bottom: 10px;
}

.messageTypingStage{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  padding: 15px;
}
.messageTypingArea{
  resize: none;
  border-radius: 15px;
  margin-right: 15px;
  padding: 12px;
}
.messageSendButton{
  background-color:#3f7fb3;

}
.userBoxSelected{
  background-color: #70aee0;
}